<!--  <h2>{{hero}}</h2> -->
<!-- 第一步 資料連結到 heros.component 屬性 -->
<!-- 第二步 資料連結到 heros.ts interface 的物件屬性，並用 pipe 變大寫 -->
<!-- <h2> {{hero_.name | uppercase}} Details </h2>
<div><span>id: </span>{{hero_.id}}</div>
<div><span>name: </span>{{hero_.name}}</div> -->
<!-- 第三步 使用雙向繫結，在 app.modules.ts  import FormsModule  -->
<!--<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero_.name" placeholder="name">
</div> -->

<!-- 第二節 使用ngFor顯示資料  -->
<h2>My Heroes</h2>
<!-- 第六節 新增的功能  -->
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />
  <button class="add-button" (click)="add(heroName.value); heroName.value=''" > Add hero </button>
</div>


<!--加入 Click 事件並顯示細項資料，[class.selected]是指定被點選後的CSS樣式 -->
<ul class="heroes">
  <!-- 第四節用，沒有使用routerLink 的點選及連結
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>-->

  <!-- 第五節使用 routerLink 的方式，列示被點選後會導向詳情的頁面 -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </a>
  </li>
</ul>

<!--使用 ngIf 檢查資料 undefined 時不要加入 DOM -->
<!-- 第3節建立元件，將小功能獨立一個 component 的範例，此塊移至 hero-detail
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [ngModel]="selectedHero.name" placeholder="name">
  </div>
</div>
-->
<!-- [hero]="selectedHero" 是單向繫結，由自已的屬性放到另一個元件的屬性，這裏是由 HeroesComponent.selectedHero
    HeroDetailComponent.hero   -->
<!--  <app-hero-detail [hero]="selectedHero"></app-hero-detail> 第五節不用 -->

